<footer id="footer_pellere">
    <div>
        <p>
            <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; 2016-17 The Digital Garage, LLC. All rights reserved.
        </p>
    </div>
</footer>
